ol,ul{list-style:none;padding:0;}input,select{outline:none;}.clear{clear:both;}.p0{padding:0px!important;}.m0{margin:0px!important;}.fr{float:right!important;}.fl{float:left!important;}.tr{text-align:right!important;}.tl{text-align:left!important;}body{
	
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: #000;
}
input[type=text], textarea, input[type=email], input[type=password], select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
} 
input[type=text]:focus, textarea:focus, input[type=email]:focus, input[type=password]:focus, select:focus {
  	box-shadow: 0 0 10px rgba(81, 203, 238, 1);
  	padding: 3px 0px 3px 3px;
  	border: 1px solid rgba(81, 203, 238, 1);
}
.brand{
	font-size: 20px;
	font-family: 'Source Sans Pro', arial;
	margin-right: 82px;
	margin-top: -35px;
	float: right;
  	color: #e1e1e1;
}
.logo{
	font-size: 35px;
	font-family: 'Oleo Script', arial;
	margin-left: 82px;
	margin-top: -45px;
	float: left;
  	color: #e1e1e1;
}
.explain{
	font-size: 20px;
	font-family: 'Oleo Script', arial;
	margin-left: -89px;
	float: left;
  	color: yellow;
}
.judul {width: 1186px;padding-top: 7%;float: left;margin-left: 82px;}
.content{width: 636px;float: left;margin-left: 82px;padding-right: 15px;}
.content p{margin:10px 0; font-family: 'Source Sans Pro', arial; font-size: 18px; text-align: justify;}
.error {
	margin-left: 5px;
	margin-right: 5px;
	color: red;
	font-size: 11px;
}
.navbar-inner {
	width: 100%;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2e2e2e;
  background-image: -moz-linear-gradient(top, #333333, #262626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#262626));
  background-image: -webkit-linear-gradient(top, #333333, #262626);
  background-image: -o-linear-gradient(top, #333333, #262626);
  background-image: linear-gradient(to bottom, #333333, #262626);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff262626', GradientType=0);
  border: 1px solid #080808;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}
.nav-control{background-color:rgba(0,0,0,0.6);margin-bottom:10px;height: 40px;}
.header {
	position: fixed;
	top: 40px;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 40px;
	text-shadow: 1px 1px 1px black;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.25);
	box-shadow: inset 0 0px rgba(255,255,255,0.3);
}
.brand img {
	width: 28.5px;
	height: 33px;
	margin-top: -5px;
}
.nav-control>ul>li{float:left;width:50%;display:inline-block;}.nav-control>ul>li>a{background:#ecf0f1;padding:10px;display:block;text-align:center;color:#000000;text-decoration:none;}.nav-control>ul>li>a:hover{background:#3498db;color:#ffffff;}.nav-control>ul>li>a.active{background:#2980b9;color:#ffffff;}.form-container{background-color:rgba(0,0,0,0.5);border-radius: 5px;padding:20px;}body>.container{
	width: 550px;
	padding-top: 15%;
	margin-top: 0;
	margin-right: 82px;
	margin-bottom: 0;
	margin-left: auto;
}
.jquery-em-interactive-container{color:#3498db;}[data-sb]{opacity:0;}.uff-form-sliding>div.sliding-container>div{width:583px;}.pager>button>a{cursor:pointer;}.pager>button.right{float:right;display:block;}.pager>button.left{float:left;display:block;}
.pager>button{
	background: transparent;
    border: none !important;
}
.footer {
	position: fixed;
	bottom: 0px;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
	text-shadow: 1px 1px 1px black;
	border-top: 1px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.25);
	box-shadow: inset 0 10px rgba(255,255,255,0.3);
}

.footer p{
	text-align: center;
	font-family: 'Source Sans Pro', arial;
	margin-top: 10px;
	color: yellow;
	font-size: 12px;
}